header {
    /*align-items: center;*/
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

/*h1 {
    font-family:'Press Start 2P', sens-serif;
    color: #fff;
    text-shadow: 5px 5px 0px #000;
}*/

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-family: 'Fira Code', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #f25a70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #f25a70;
    /*height: 60px;
    line-height: 60px;*/
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    transition: transform 150ms linear;
}

#button:hover {
    transform: scale(1.05);
}

