.box {
    display: inline-block;
    background-color: #3a4042;
    /*width: 630px;
    height: 184px;*/
    box-shadow: 10px 10px 0px #000;
    text-align: center;
    padding: 42px 42px;
}

.box .title {
    margin-bottom: 28px;
}