.button-arrow {
    width: 50px;
    height: 50px;
    background-color: #f35a70;
    box-shadow: 5px 5px 0px #000;
    cursor: pointer;
}

.button-arrow .content {
    display: none;
}

.button-arrow::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    border: 18px solid transparent;
    border-left: 24px solid #fff;
    transform: translateX(10px);
}

.button-arrow.-left::before {
    transform: rotate(180deg) translateX(12px);
}