.main-title {
    font-family: 'Press Start 2P', sans-serif;
    color: #f25a70;
    font-size: 40px;
    text-shadow: 4px 4px 0px #000;
}

.main-title.-second {
    color: #fff;
    /*margin-top: 30px;*/
    text-shadow: none;
    text-align: center;
}