.main-header {
    /*align-items: center;*/
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}


/*h1 {
    font-family:'Press Start 2P', sens-serif;
    color: #fff;
    text-shadow: 5px 5px 0px #000;
}*/

