.progress-bar {
    box-sizing: border-box;
    /*background-color: #7c5e99;*/
    border: 5px solid #000;
    height: 40px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #fff;
    color: #7c5e99;
}
.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
