.skill-tec {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 24px;
    color: #fff;
}

.skill-tec .icon {
    margin-right: 24px;
    width: 90px;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tec h3 {
    margin-bottom: 16px;
}